{% extends 'base.html' %}
{% block content %}
  <div class="account_box">
    <div class="title">
      <h2 class="title_text">내 프로필</h2>
    </div>
    <ul>
      <li>
        <span class="material-symbols-outlined">mark_as_unread</span>
        이메일 |
        {{ user.email }}
      </li>
      <li>
        <span class="material-symbols-outlined">person</span>
        닉네임 |
        {{ user.nickname }}
      </li>
    </ul>
  </div>
  <div class="account_box">
      <div class="title">
        <h2 class="title_text">개인정보</h2>
      </div>
      <ul>
        <li>
          <span class="material-symbols-outlined">person</span>
          이름 |
          {{ user.username }}
        </li>
        <li>
          <span class="material-symbols-outlined">phone_android</span>
          전화번호 |
          {{ user.phonenumber }}
        </li>
        <li>
          <span class="material-symbols-outlined">home</span>
          주소 |
          {{ user.address }}
        </li>
      </ul>
      <a href="{% url 'common:userinfo_modify' %}" class="title2">
        <h2 class="title_text2">정보 수정</h2>
      </a>
  </div>
{% endblock content %}