/* * {
    font-family: 'Noto Sans KR', sans-serif;
}

.detail{
    font-size: 0.7em;
}

textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
} */

.comment {
    border-top:dotted 1px #ddd;
    font-size:0.8em;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.sellpic {
    height: 100%;
    width: 100%;
}

  table {
    width: 100%;
    height: 350px;
    border-spacing: 3px;
    border-collapse: separate;
  }
  table th, td {
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 20px;
  }

.boldgray {
    border-left: 3px solid lightgray;
    background-color:rgb(229, 229, 229);
    font-weight: bold;
    text-align: center;
    width: 15%;

}

.table_st {
    width: 100%;
    height: 350px;
    border-collapse: separate;
}

.td_st {
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 10px;
    
}

.none_border {
    border: none;
    width: 3%;
}