/* * {
    font-family: 'Noto Sans KR', sans-serif;
}

.detail{
    font-size: 0.7em;
}

textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
} */

.comment {
    border-top:dotted 1px #ddd;
    font-size:0.8em;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.sellpic {
    height: 100%;
    width: 100%;
}