/* * {
    font-family: 'Noto Sans KR', sans-serif;
}

.detail{
    font-size: 0.7em;
}

textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
} */

.comment {
    border-top:dotted 1px #ddd;
    font-size:0.8em;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
}

.avatar_1 {
    width: 22px;
    height: 22px;
    border-radius: 30%; 
}

.sellpic {
    height: 230px;
    width: 230px;
}

  table {
    width: 100%;
    height: 350px;
    border-spacing: 3px;
    border-collapse: separate;
  }
  table th, td {
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 20px;
  }

.boldgray {
    border-left: 3px solid lightgray;
    background-color:rgb(229, 229, 229);
    font-weight: bold;
    text-align: center;
    width: 15%;

}

.table_st {
    width: 100%;
    height: 350px;
    border-collapse: separate;
}

.td_st {
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 10px;
    
}

.none_border {
    border: none;
    width: 3%;
}


.account_box {
    display: table;
    table-layout: fixed;
    width: 600px;
    height: auto;
    margin: 0 auto;
    font-size: 18px;
    padding: 30px 0px 0px 0px;
}

.account_box .title {
    position: relative;
    display: block;
    padding: 15px 38px 13px 18px;
    border-radius: 6px 6px 6px 6px;
    background-image: linear-gradient(98deg,#03c75a,#49c6dd);
}

.account_box .title_text {
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -.19px;
    color: #fff;
}

.account_box ul {
    list-style: none;
}

.material-symbols-outlined {
    margin-top: 10px;
}

.upload {
    border: none;
}

/* <a href> 관련 스타일 */
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}
#wrap {
    min-height: 500px;
}