{% extends 'base.html' %}
{% load humanize %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

{% block content %}

<div class="row ml-5 my-3">
  <div class="col-2">
    <div class='card'>
      <div class="card-body">
        {% if user.is_authenticated %}
        <div>회원정보</div>
        <img class="avatar" src="https://randomuser.me/api/portraits/men/{{user.id}}.jpg"> {{ user.nickname }}
        <div>
          <a style="color:black;" href="{% url 'joonggo:sell_mypost' user.id %}">내가 쓴 글 보기</a>
        </div>
        <div>
          <a style="color:black;" href="{% url 'joonggo:sell_mylike' user.id %}">좋아요 한 글 보기</a>
        </div>
        {% else %}
        <div>
        회원정보
        </div>
        <a style="font-size:14px;" class="nav-link" href="{% url 'common:login' %}">로그인이 필요합니다.</a>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="col-8 mr-3" style="height: auto;">
        <!-- 게시판 카드형식 만들기 -->
        <div class="container">
          <div class="row justify-content-center my-3">
            <div class="col-6 input-group">
              <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
              <div class="input-group-append">
                <button class="btn btn-outline-dark" type="button" id="btn_search"><i class="fa-solid fa-magnifying-glass"></i> 검색</button>
              </div>
            </div>
          </div>
          <div class="row">
            {% if sell_list %}
            {% for sell in sell_list %}
            <div class="col-xs-3">
              <div href="{% url 'joonggo:detail' sell.id %}" class="card" style="margin: 3px;">
                {% comment %} <img class="sellpic" src="https://randomuser.me/api/portraits/men/{{sell.author.id}}.jpg"> {% endcomment %}
                <img class="sellpic" src="{{ sell.images.url }}">
                <div class="card-body">
                  <a class="stretched-link" style="color:black;" href="{% url 'joonggo:detail' sell.id %}">{{ sell.subject|truncatechars:10 }}
                    {% if sell.comment_set.count %}
                        <span class="ml-2">
                          <i class="fa-regular fa-comment-dots"></i>
                          <span>{{sell.comment_set.count}}</span>
                        </span>
                      {% endif %}
                  </a>
                  <div style="font-weight:600;">
                    {{sell.price|intcomma}}원
                  </div>
                  <p class="small"><img class="avatar" src="https://randomuser.me/api/portraits/men/{{sell.author.id}}.jpg"> {{ sell.author.nickname }}
                  </p>
                  {% if sell.voter.all.count >= 0 %}
                  좋아요<span class="text-danger px-2 py-1">
                  {% if user in sell.voter.all %}
                  <i class="fa-solid fa-heart"></i>
                  {% else %}
                  <i class="fa-regular fa-heart"></i>
                  {% endif %}
                </span>
              {% endif %}
              <div>
                작성일:{{ sell.create_date|date:'Y-m-d H:i' }}
              </div>
    
                </div>
              </div>
            </div>
            
            {% endfor %}
            {% endif %}
            

          </div>
        </div>
    <a href="{% url 'joonggo:sell_create' %}" class="btn btn-primary">글 작성</a>
  </div>
</div>
{% include 'joonggo/pagenation.html' %}

<form id="searchForm" method="get" action="{% url 'index' %}">
  <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
  <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock content %}

{% block script %}
  <script type='text/javascript'>
    $(document).ready(function () {
      $(".page-link").on('click', function () {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
      });
      $("#btn_search").on('click', function () {
        $("#kw").val($(".kw").val());
        $("#page").val(1); // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
      });
    });
  </script>
{% endblock %}
