{% extends 'base.html' %}
<!--메세지 뭐시기 지움-->
{% block content %}

  {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
      {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
          <li>{{ message.message }}</li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}

<div class="container my-3">
  <h2 class="border-bottom py-2">{{ sell.subject }}</h2>

    <div class="mx-auto my-1 clearfix" style="width:98%; ">
      <div style="float:left;">
        <img class="avatar_1" src="https://randomuser.me/api/portraits/men/{{sell.author.id}}.jpg">
        <a href="#" title="이 회원이 쓴 글 보기"><small>{{ sell.author.nickname }}</small></a>
      </div>
      <div style="float:right;">
        <small>{{ sell.create_date | date:'Y-m-d H:i' }}</small>
      </div>
    </div>

    <div>
      <div style="float:right;">
      <!-- 추천 영역 -->
      {% if request.user in sell.voter.all %}
      <a href="{% url 'joonggo:vote_sell' sell.id %}" data-uri="{% url 'joonggo:vote_sell' sell.id %}" class="btn btn-sm btn-outline-danger text-danger">
          <i class="fa-solid fa-heart mr-1"></i>찜</a> 
      {% else %}
      <a href="{% url 'joonggo:vote_sell' sell.id %}" data-uri="{% url 'joonggo:vote_sell' sell.id %}" class="btn btn-sm btn-outline-secondary text-dark">
          <i class="fa fa-heart-o mr-1"></i>찜</a>
      {% endif %}
      </div>
    </div>

    <table class="table_st" style="margin-top:50px;">
        <tr>
          <td rowspan="4" align="center" style="vertical-align:middle; background-color:white; width:37%;">
            {% if sell.images %}
                <img src="{{ sell.images.url }}" width="360" height="250">
            {% else %}
                <small>※ 등록된 대표 이미지가 없습니다.</small>
            {% endif %}
          </td>
          <td class="none_border">&nbsp;</td>
          <td class="boldgray">카테고리</td>
          <td>
            {{ sell.category }}
          </td>
        </tr>
        <tr>
          <td class="none_border">&nbsp;</td>
          <td class="boldgray">판매 가격</td>
          <td>
            {% load humanize %}
            {{ sell.price|intcomma }} 원
          </td>
        </tr>
        <tr>
          <td class="none_border">&nbsp;</td>
          <td class="boldgray">거래 방식</td>
          <td>
              {{ sell.tmethod }}
          </td>
        </tr>
        <tr>
          <td class="none_border">&nbsp;</td>
          <td class="boldgray">판매자 정보</td>
          <td>
            <ul class="list-group list-group-flush" style="margin-left:-18px; margin-top:-10px; margin-bottom:-10px;">
                <li class="list-group-item">이메일 |&nbsp;&nbsp;<small>{{ sell.author.email }}</small></li>
                <li class="list-group-item">닉네임 |&nbsp;&nbsp;<small>{{ sell.author.nickname }}</small></li>
                <li class="list-group-item">연락처 |&nbsp;&nbsp;<small>{{ sell.author.phonenumber }}</small></li>
            </ul>
          </td>
        </tr>
    </table>
    <div class="card" style='margin-bottom:15px; margin-top:10px; background-color:whitesmoke;'>
      <div class="card-body">
        <h6><b>※ 거래시 필독 사항</b></h6>
        <ul style="list-style-type:square;">
          <li>joonggo은 통신판매의 당사자가 아니며 상품정보, 거래에 관한 의무와 책임은 판매자와 구매자에게 있습니다.</li>
          <li>등록한 게시글이 회원의 신고를 받거나 이상거래로 모니터링 될 경우 사기통합조회 DB로 수집/활용될 수 있습니다.</li>
          <li>판매자가 별도의 결제링크, 직접송금을 유도하는 경우 사기일 가능성이 높으니 거래를 자제해 주시고 <a href="#" title="고객센터로 이동" rel"noreferrer">고객센터</a>로 신고해주시기 바랍니다.</li>
          <li>사기피해사례 조회 및 신고는 <a href="https://thecheat.co.kr/rb/?mod=_search" target='_blank' title="더치트로 이동" rel"noreferrer">더치트</a>를 이용해주세요.</li>  
        </ul>
      </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line; margin-top:-30;">
                {{ sell.content|safe }}
            </div>
        </div>
      <!-- 해당 게시글 작성자면 수정 / 삭제 가능 -->
        {% if request.user == sell.author %}
        <div class="card-footer text-muted">
          <div style="float:right; margin-top:-5px; margin-bottom:-5px; margin-right:-10px;">
            <a href="{% url 'joonggo:sell_modify' sell.id %}" class="btn btn-sm btn-outline-secondary text-info">
              <i class="fa-solid fa-pen-to-square mr-2"></i>수정</a>
              <a href="#" class="delete btn btn-sm btn-outline-secondary text-danger" data-uri="{% url 'joonggo:sell_delete' sell.id  %}">
                <i class="fa-regular fa-trash-can"></i>삭제</a>
          </div>
        </div>
        {% endif %}        
    <div>

    </div>
    </div>

    <h5 class="border-bottom my-3 py-2">
        댓글 <b>{{sell.comment_set.count}}</b>
    </h5>

    {% for comment in sell.comment_set.all %}
    <div class="card my-3">
      <div class="card-body">
          <div style="font-size:12px; font-weight:700;">
            <img class="avatar_1" src="https://randomuser.me/api/portraits/men/{{comment.author.id}}.jpg"> {{ comment.author.nickname }}
          </div>
          <div class="card-text" style="white-space: pre-line;">
              {{ comment.content }} 
            </div>
          </div>
          
            <div class="d-flex justify-content-between">
              {% if comment.modify_date %}
              <div style="font-size:13px;" class="ml-3">
                {{ comment.modify_date|date:'Y-m-d h:i' }}
              </div>
              {% else %}
              <div style="font-size:13px;" class="ml-3">
                {{ comment.create_date|date:'Y-m-d h:i' }}
              </div>
              {% endif %}
              <div>
                {% if request.user == comment.author %}
                <div style="float:right; margin-bottom:5px; margin-right:10px;">
                  <a href="{% url 'joonggo:comment_modify_sell' sell.id %}" class="btn btn-sm btn-outline-secondary text-info">
                    <i class="fa-solid fa-pen-to-square mr-2"></i>수정</a>
                    <a href="#" class="delete btn btn-sm btn-outline-secondary text-danger" data-uri="{% url 'joonggo:comment_delete_sell' sell.id  %}">
                      <i class="fa-regular fa-trash-can"></i>삭제</a>
                </div>
                {% endif %}
              </div>
        </div>
    </div>
    
    {% endfor %}

    <form action="{% url 'joonggo:comment_create_sell' sell.id %}" method="post" class="my-3">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
        <textarea name="content" id="content" class="form-control" rows="4"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-dark" style="float:right; margin-bottom:30px;">
    </form>
</div>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function () {
    console.log('로딩 완료');
    let btns = $('.delete') // 변수 선언 키워드 let
    btns.on('click', function () { // .on('이벤트이름', 이벤트핸들러)
      console.log('click 발생');
      let comment = confirm('정말 삭제할까요?');
      if (comment) {
        location.href = $(this).data('uri'); // this: click이벤트를 발생한 인스턴스에 대한 참조
      }
    }); // 변수 선언 키워드 let
    $(".recommend").on('click', function () {
      if (confirm("정말로 추천하시겠습니까?")) {
        location.href = $(this).data('uri');
      }
       
      
    })

    console.log('click 이벤트 핸들러 등록 완료')
  });
</script>

{% endblock script %}


