<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <a class="navbar-brand mx-auto" href="{% url 'joonggo:index' %}"><b>Joonggo</b></a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'common:userinfo'%}">
            <img class="avatar" src="https://randomuser.me/api/portraits/men/{{user.id}}.jpg"> {{ user.nickname }}
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'common:logout' %}">
            <i class="fa-solid fa-right-from-bracket"></i>
            로그아웃</a>
        </li>
      {% else %}
        <a class="nav-link" href="{% url 'common:login' %}">
          <i class="fa-solid fa-right-to-bracket"></i>
          로그인</a>
        <a class="nav-link" href="{% url 'common:signup' %}">
          <i class="fa-solid fa-user-plus"></i>회원가입
        </a>
      {% endif %}
  
    </ul>
  </div>
</nav>
